body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

button {
    border: 2px solid;
    background-color: #3882F6;
    border-radius: 10px;
    height: 40px;
    width: 125px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header,
.first,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content:space-between;
    padding: 20px 200px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.headerlink,
.herosecondary,
.placeholder {
    color: #E5E7EB;
    font-size: 18px;
}

.first {
    display: flex;
    padding: 100px 200px;
    gap: 60px;
}
.firstleft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.button1 {
    border: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #70747c;
    width: 525px;
    height: 230px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.infotitle {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 40px;
}

.infobox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: 4px solid #3882F6;
    border-radius: 20px;
    height: 175px;
    width: 175px;
}

.imagesubtext {
    text-align: center;
    color: #70747c;
    font-size: 18px;
    max-width: 175px;
}

.third {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 120px;
}

.quotebox {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    line-height: 125%;
}

.source {
    align-self: flex-end;
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
    max-width: 800px;
}

.fourth {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px;
    margin: 100px 200px;  
}


.signup,
.signup-info,
.button2 {
    color: #F9FAF8;
    font-size: 18px;
}

.signup {
    font-weight: bold;
}

.button2 {
    border-color: #F9FAF8
}

.footer {
    display: flex;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}