body {
    font-family: 'Roboto', sans-serif;
}

button {
    border: 2px solid;
    background-color: #3882F6;
    border-radius: 10px;
    height: 40px;
    width: 125px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header,
.first,
.footer {
    background-color: #1F2937;
}
.hero {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.header {

}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.headerlink {

}

.headerlink,
.herosecondary,
.imageplaceholder {
    color: #E5E7EB;
    font-size: 18px;
}

.button1 {
    border: none;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}

.second {

}

.information {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.imagesubtext {
    color: #1F2937;
    font-size: 18px;
}

.third {
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
}

.source {
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
}

.fourth {
    background-color: #3882F6;  
}

.signup,
.signup-info,
.button2 {
    color: #F9FAF8;
    font-size: 18px;
}

.signup {
    font-weight: bold;
}

.button2 {
    border-color: #F9FAF8
}